<!-- Skippy -->
<a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
    <div class="container">
        <span class="u-skiplink-text">Skip to main content</span>
    </div>
</a>
<!-- End Skippy -->

<!-- ========== HEADER ========== -->
<header id="header"
    class="u-header u-header--modern u-header--bordered u-header--bg-transparent u-header--white-nav-links u-header--sticky-top-lg">
    <div class="u-header__section">
        <div id="logoAndNav" class="container-fluid">
            <!-- Nav -->
            <nav class="js-mega-menu navbar navbar-expand-lg u-header__navbar">
                <!-- Logo -->
                <div class="u-header__navbar-brand-wrapper">
                    <a class="navbar-brand u-header__navbar-brand" href="index.html" aria-label="Space">
                        <img class="u-header__navbar-brand-default" style="width:100%"
                            src="assets_home/svg/logos/cashGC_white.png" alt="Logo">
                        <img class="u-header__navbar-brand-on-scroll" style="width:100%"
                            src="assets_home/svg/logos/cashGC_black.png" alt="Logo">
                        <img class="u-header__navbar-brand-mobile" style="width:100%"
                            src="assets_home/svg/logos/cashGC_black.png" alt="Logo">
                    </a>
                </div>
                <!-- End Logo -->

                <!-- Responsive Toggle Button -->
                <button type="button" class="navbar-toggler btn u-hamburger u-header__hamburger"
                    aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse"
                    data-target="#navBar">
                    <span class="d-none d-sm-inline-block">Menu</span>
                    <span id="hamburgerTrigger" class="u-hamburger__box ml-3">
                        <span class="u-hamburger__inner"></span>
                    </span>
                </button>
                <!-- End Responsive Toggle Button -->

                <!-- Navigation -->
                <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse py-0">
                    <ul class="navbar-nav u-header__navbar-nav">
                        <!-- Home -->
                        <li class="nav-item u-header__nav-item">
                            <a class="nav-link u-header__nav-link" href="/">
                                Home
                            </a>
                        </li>
                        <!-- End Home -->

                        <!-- About -->
                        <li class="nav-item u-header__nav-item">
                            <a class="nav-link u-header__nav-link" href="#about-us">
                                About
                            </a>
                        </li>
                        <!-- End About -->

                        <!-- Testimonials -->
                        <li class="nav-item u-header__nav-item">
                            <a class="nav-link u-header__nav-link" href="#feedback">
                                Testimonials
                            </a>
                        </li>
                        <!-- End Testimonials -->

                        <!-- Button -->
                        {{#if isLoggedIn}}
                        <!-- Account Signin -->
                        <li class="nav-item u-header__navbar-icon">
                            <!-- Account Sidebar Toggle Button -->
                            {{!-- <a id="sidebarNavToggler" class="btn btn-sm btn-primary" href="javascript:;" role="button"
                                aria-controls="sidebarContent" aria-haspopup="true" aria-expanded="false"
                                data-unfold-event="click" data-unfold-hide-on-scroll="false"
                                data-unfold-target="#sidebarContent" data-unfold-type="css-animation"
                                data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight"
                                data-unfold-duration="500">{{user.firstname}} {{user.lastname}} &nbsp;&nbsp; <i
                                    class="fas fa-bars mr-1"></i>
                            </a> --}}
                            <a id="sidebarNavToggler" class="btn btn-sm btn-primary" href="/user"
                                role="button">Dashboard</a>
                            <!-- End Account Sidebar Toggle Button -->
                        </li>
                        <!-- End Account Signin -->
                        {{else}}
                        <li class="nav-item u-header__nav-item-btn">
                            <a class="btn btn-sm btn-primary" href="/signup" role="button"
                                data-modal-target="#signupModal" data-overlay-color="#151b26">
                                <span class="fa fa-user-circle mr-1"></span>
                                Sign Up
                            </a>
                        </li>
                        <li class="nav-item u-header__nav-item-btn">
                            <a class="btn btn-sm btn-primary" href="/signin" role="button"
                                data-modal-target="#signupModal" data-overlay-color="#151b26">
                                <span class="fas fa-sign-in-alt mr-1"></span>
                                Sign In
                            </a>
                        </li>
                        {{/if}}
                        <!-- End Button -->

                        <!-- Search -->
                        <li class="nav-item u-header__navbar-icon u-header__navbar-v-divider">
                            <a class="btn btn-xs btn-icon btn-text-dark u-header__search-toggle" href="javascript:;"
                                role="button" aria-haspopup="true" aria-expanded="false" aria-controls="search"
                                data-unfold-target="#search" data-unfold-hide-on-scroll="false"
                                data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300"
                                data-unfold-animation-in="slideInUp">
                                <span class="fa fa-search btn-icon__inner"></span>
                            </a>

                            <!-- Input -->
                            <form id="search"
                                class="js-focus-state input-group form u-header__search u-unfold--css-animation u-unfold--hidden">
                                <input class="form-control form__input" type="search"
                                    placeholder="Search Cash GiftCode">
                                <div class="input-group-addon u-header__search-addon p-0">
                                    <button class="btn btn-primary u-header__search-addon-btn" type="button">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </div>
                            </form>
                            <!-- End Input -->
                        </li>
                        <!-- End Search -->
                    </ul>
                </div>
                <!-- End Navigation -->

                {{#if isLoggedIn}}
                <ul class="navbar-nav flex-row u-header__secondary-nav">
                    <!-- Shopping Cart -->
                    <li class="nav-item u-header__navbar-icon-wrapper u-header__navbar-icon">

                        <a id="shoppingCartDropdownWithItemsInvoker" class="btn btn-xs btn-icon btn-text-secondary"
                            href="javascript:;" role="button" aria-controls="shoppingCartDropdownWithItems"
                            aria-haspopup="true" aria-expanded="false" data-unfold-event="click"
                            data-unfold-target="#shoppingCartDropdownWithItems" data-unfold-type="css-animation"
                            data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true"
                            data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
                            <span class="fa fa-shopping-cart btn-icon__inner"></span>
                            <span class="badge-xs badge-primary badge-pos rounded-circle" id="ctnum">.</span>
                        </a>


                        <div id="shoppingCartDropdownWithItems"
                            class="u-unfold u-unfold--cart text-center border rounded-0 right-0"
                            aria-labelledby="shoppingCartDropdownWithItemsInvoker" style="width: 290px;">
                            <!-- Title -->
                            <div class="text-center p-1">
                                Your Shopping Cart
                            </div>
                            <!-- End Title -->

                            <hr class="my-0">

                            <!-- Items Wrapper -->
                            <div class="py-4" id="cartItemWrapper">
                                <!-- Item -->

                                <!-- End Item -->
                            </div>
                            <!-- End Items Wrapper -->

                            <hr class="my-0">
                            {{!-- <a class="btn btn-sm btn-primary" href="/user/cart">Checkout</a> --}}
                            <a style="display:none;" class="text-secondary small mt-2" href="/user/cart"
                                id="checkoutBtn"><i class="px-2 fa fa-shopping-cart"></i> Checkout</a>
                        </div>
                        <!-- End Subtotal -->
        </div>
        </li>
        <!-- End Shopping Cart -->


        </ul>
        {{/if}}
        </nav>
        <!-- End Nav -->
    </div>
    </div>
</header>
<!-- ========== END HEADER ========== -->

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Hero Section -->
    <div class="gradient-overlay-half-purple-v1 bg-img-hero-center"
        style="background-image: url('https://res.cloudinary.com/zionlloyd/image/upload/v1559831321/bg.jpg');">
        <!-- Info -->
        <div class="container text-left space-2 space-4--lg">
            <div class="w-lg-60">
                <h1 class="text-white font-weight-medium">Welcome to CashGiftCode</h1>
            </div>
            <div class="w-md-50 w-lg-50">
                <div class="mb-5">
                    <p class="lead text-light">
                        The No. 1 Gift Code E-commerce Platform where you can buy and sell gift codes in exchange for
                        money.
                        Our platform is as easy as creating an account , buy the codes and send it to whoever you want
                        to
                        send money to at different part of the world . No Online International Money Transfer stress
                        anymore
                    </p>
                </div>
                <a class="btn btn-outline-light btn-wide mb-2 mb-md-0" href="/signup">
                    Get Started
                    <span class="fa fa-angle-right ml-2"></span>
                </a>
            </div>
        </div>
        <!-- End Info -->

        <div class="container-fluid space-2-bottom">
            <div class="px-lg-9">
                <!-- Icon Blocks -->
                <div class="row">
                    <div class="col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-0 mb-7 mb-lg-0">
                        <!-- Icon Blocks -->
                        <div class="media align-items-center">
                            <img class="max-width-10 mr-3" src="assets_home/svg/buy.svg" alt="Image Description">
                            <div class="media-body">
                                <h2 class="h4 text-white">Buy Gift Codes</h2>
                                <p class="text-light mb-0">Buy Gift code that can be converted into money from us and
                                    send to anybody.</p>
                            </div>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>

                    <div class="col-sm-6 col-lg-4 mb-7 mb-sm-0">
                        <!-- Icon Blocks -->
                        <div class="media align-items-center">
                            <img class="max-width-10 mr-3" src="assets_home/svg/sell.svg" alt="Image Description">
                            <div class="media-body">
                                <h3 class="h4 text-white">Sell Gift Codes</h3>
                                <p class="text-light mb-0">Sell your Gift Code bought from our platform back to us and
                                    we Credit your bank account.</p>
                            </div>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <!-- Icon Blocks -->
                        <div class="media align-items-center">
                            <img class="max-width-10 mr-3" src="assets_home/svg/dance.svg" alt="Image Description">
                            <div class="media-body">
                                <h3 class="h4 text-white">No more barriers</h3>
                                <p class="text-light mb-0">There is nothing stopping you from sending money to your
                                    friends and family Across the world without stress.</p>
                            </div>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
    </div>
    <!-- End Hero Section -->

    <hr class="my-0">

    <!-- Features Section -->
    <div class="container space-2 space-2--lg" id="about-us">
        <div class="row justify-content-lg-between">
            <div class="col-md-4 col-lg-4 mb-7 mb-md-0">
                <div class="tab-vertical tab-vertical-md py-5 mr-lg-7">
                    <div class="pr-md-7 mb-5">
                        <h3 class="h4">About CashGiftCode</h3>
                    </div>

                    <!-- Tab Nav -->
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active tab-vertical__nav-link" id="v-pills-features-tab" data-toggle="pill"
                            href="#v-pills-features" role="tab" aria-controls="v-pills-features" aria-selected="true">
                            1. What is CashGiftCode ?
                        </a>
                        <a class="nav-link tab-vertical__nav-link" id="v-pills-key-benefits-tab" data-toggle="pill"
                            href="#v-pills-key-benefits" role="tab" aria-controls="v-pills-key-benefits"
                            aria-selected="false">
                            2. Secured transactions
                        </a>
                        <a class="nav-link tab-vertical__nav-link" id="v-pills-company-tab" data-toggle="pill"
                            href="#v-pills-company" role="tab" aria-controls="v-pills-company" aria-selected="false">
                            3. Our core mission
                        </a>
                    </div>
                    <!-- End Tab Nav -->
                </div>
            </div>

            <div class="col-md-8">
                <!-- Tab Content -->
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-features" role="tabpanel"
                        aria-labelledby="v-pills-features-tab">
                        <div class="row">
                            <div class="col-md-11">
                                <h1>What is CashGiftCode</h1>
                                <p>Cashgiftcode is a new dawn on the international financial market. Following our
                                    interest towards putting an end to the hassle of sending and receiving money among
                                    people around the world,
                                    we have created a platform where people can send and receive money using our gift
                                    codes.</p>
                                <p>As easy as it looks,
                                    these gift code come with a textual codes and these codes are therefore used in
                                    exchange for
                                    cash(Naira) or
                                    BITCOIN as preferred by the customer.</p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-key-benefits" role="tabpanel"
                        aria-labelledby="v-pills-key-benefits-tab">
                        <div class="row align-items-lg-center">
                            <div class="col-md-11">
                                <h1>We take Security seriously</h1>
                                <p>
                                    Our platform is protected with the highest level of data encrytion and we gaurantee
                                    you optimum security of your gift code , your account with us and others, so no need
                                    to
                                    panic .

                                </p>
                                <p>
                                    The gift code purchased is like a physical money, so you should only share with the
                                    person you
                                    want to send money to. In a situation you send to the wrong person, our platform
                                    won't be responsible,
                                    if the person comes to us to redeem , we would assume you intentionally send to him.
                                    so kindly keep the
                                    gift code safe like you treat your physical money

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-company" role="tabpanel"
                        aria-labelledby="v-pills-company-tab">
                        <div class="row align-items-lg-center">
                            <div class="row align-items-lg-center">
                                <div class="col-md-11">
                                    <h1>Our Core Mission</h1>
                                    <p>The mission of cashgiftcode was born out of the quest of trying to find
                                        solutions to the financial hassles of our prospective customers.
                                        It is also in our view to enable our customers to pay for goods and services on
                                        our platform and other platforms using our gift codes </p>
                                    <p>Also, we will be able to pay our customers in other currencies other than Nigeria
                                        Naira soon.</p>
                                    <p>These and other exciting offers await you as you decide to partner with us at
                                        Cashgiftcode today.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Tab Content -->
            </div>
        </div>
    </div>
    <!-- End Features Section -->

    <!-- Testimony Section -->
    <div class="bg-gray-100" id="feedback">
        <div class="container space-2 space-2--lg">
            <h2 class="font-weight-medium text-center mb-4">Join our happy customers</h2>
            <div class="card-deck d-block d-lg-flex">
                <!-- Testimonials -->
                <div class="card card-frame mb-5 mb-lg-0">
                    <div class="card-body p-5">
                        <blockquote class="text-secondary mb-0">
                            I really appreciate this platform , it was so easy to use. I was Able to get some codes
                            across to my cousin in Africa and he was credited in few hours. Now I don’t have to go
                            through monogram , western union stress anymore
                        </blockquote>
                    </div>
                    <div class="card-footer">
                        <div class="media align-items-end">
                            <div class="position-relative mr-4">
                                <img class="u-md-avatar rounded-circle"
                                    src="https://res.cloudinary.com/decloud23tech/image/upload/v1557816312/admin.png"
                                    alt="Image Description">
                                <span
                                    class="badge badge-sm badge-primary badge-icon badge-pos badge-pos--bottom-right-minus-1 rounded-circle">
                                    <span class="fab fa-twitter"></span>
                                </span>
                            </div>
                            <div class="media-body">
                                <h4 class="h6 mb-0">Foluke Smith</h4>
                                <span class="d-block text-muted font-size-14 font-weight-normal">United Kingdom</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Testimonials -->

                <!-- Testimonials -->
                <div class="card card-frame mb-5 mb-lg-0">
                    <div class="card-body p-5">
                        <blockquote class="text-secondary mb-0">
                            I was blocked by western union and I could not send money to my wife for some months now .
                            Thanks to this platform , it really solved my problem
                        </blockquote>
                    </div>
                    <div class="card-footer">
                        <div class="media align-items-end">
                            <div class="position-relative mr-4">
                                <img class="u-md-avatar rounded-circle"
                                    src="https://res.cloudinary.com/decloud23tech/image/upload/v1557816312/admin.png"
                                    alt="Image Description">
                                <span
                                    class="badge badge-sm badge-primary badge-icon badge-pos badge-pos--bottom-right-minus-1 rounded-circle">
                                    <span class="fab fa-facebook-f"></span>
                                </span>
                            </div>
                            <div class="media-body">
                                <h4 class="h6 mb-0">Micheal Olakunle</h4>
                                <span class="d-block text-muted font-size-14 font-weight-normal">Dubai , UAE</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Testimonials -->

                <!-- Testimonials -->
                <div class="card card-frame">
                    <div class="card-body p-5">
                        <blockquote class="text-secondary mb-0">This is the fastest means of sending money home , I
                            tried them the first time, few weeks ago . What a lovely platform . They made sending money
                            to Africa so easy like just clicking few buttons </blockquote>
                    </div>
                    <div class="card-footer">
                        <div class="media align-items-end">
                            <div class="position-relative mr-4">
                                <img class="u-md-avatar rounded-circle"
                                    src="https://res.cloudinary.com/decloud23tech/image/upload/v1557816312/admin.png"
                                    alt="Image Description">
                                <span
                                    class="badge badge-sm badge-primary badge-icon badge-pos badge-pos--bottom-right-minus-1 rounded-circle">
                                    <span class="fab fa-twitter"></span>
                                </span>
                            </div>
                            <div class="media-body">
                                <h4 class="h6 mb-0">Paul Nwako</h4>
                                <span class="d-block text-muted font-size-14 font-weight-normal">New Jersey , USA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Testimonials -->
            </div>

            <div class="card-deck mt-4 d-block d-lg-flex">
                <!-- Testimonials -->
                <div class="card card-frame">
                    <div class="card-body p-5">
                        <blockquote class="text-secondary mb-0">
                            This platform is a life saver . I was able to send money home for my mum’s hospital bills
                            and she got credited in less than 24 hrs . Their charges is even cheap and fast no paper
                            work or stress
                        </blockquote>
                    </div>
                    <div class="card-footer">
                        <div class="media align-items-end">
                            <div class="position-relative mr-4">
                                <img class="u-md-avatar rounded-circle"
                                    src="https://res.cloudinary.com/decloud23tech/image/upload/v1557816312/admin.png"
                                    alt="Image Description">
                                <span
                                    class="badge badge-sm badge-primary badge-icon badge-pos badge-pos--bottom-right-minus-1 rounded-circle">
                                    <span class="fab fa-twitter"></span>
                                </span>
                            </div>
                            <div class="media-body">
                                <h4 class="h6 mb-0">Joana Johnson</h4>
                                <span class="d-block text-muted font-size-14 font-weight-normal">Las Vegas , USA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Testimonials -->


                <!-- Testimonials -->
                <div class="card card-frame">
                    <div class="card-body p-5">
                        <blockquote class="text-secondary mb-0">
                            This the fastest platform to get money to Africa with no stress , what an innovation . I’ve
                            used them severally and their customer service is just so effective
                        </blockquote>
                    </div>
                    <div class="card-footer">
                        <div class="media align-items-end">
                            <div class="position-relative mr-4">
                                <img class="u-md-avatar rounded-circle"
                                    src="https://res.cloudinary.com/decloud23tech/image/upload/v1557816312/admin.png"
                                    alt="Image Description">
                                <span
                                    class="badge badge-sm badge-primary badge-icon badge-pos badge-pos--bottom-right-minus-1 rounded-circle">
                                    <span class="fab fa-twitter"></span>
                                </span>
                            </div>
                            <div class="media-body">
                                <h4 class="h6 mb-0">Muhammed Kareem</h4>
                                <span class="d-block text-muted font-size-14 font-weight-normal">Chicago , USA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Testimonials -->
            </div>
        </div>
    </div>
    <!-- End Testimony Section -->
    <!-- FAQ Section -->
    <div class="container space-2 space-2--lg">
        <div class="row justify-content-lg-between">
            <div class="col-lg-4 mb-7 mb-lg-0">
                <!-- Info -->
                <div class="bg-dark shadow-sm rounded p-5 mt-lg-9">
                    <h3 class="text-white">Have a question?</h3>
                    <p class="text-light-70">Reach us and we'll be happy to attend to you.</p>

                    <address class="mb-0">
                        <span class="d-block text-light-70 font-weight-medium py-1">
                            <a class="u-icon u-icon--primary rounded-circle">
                                <span class="fa fa-phone u-icon__inner"></span>
                            </a> +1 (929) 251-3960</span>
                        <span class="d-block text-light-70 font-weight-light py-1"> <a
                                class="u-icon u-icon--primary rounded-circle">
                                <span class="fa fa-envelope u-icon__inner"></span>
                            </a>
                            support@cashgiftcode.com</span>
                        <span class="d-block text-light-70 font-weight-light py-1">
                            <a class="u-icon u-icon--primary rounded-circle">
                                <span class="fa fa-smile-wink u-icon__inner"></span>
                            </a>
                            We are always available</span>
                    </address>
                </div>
                <!-- End Info -->
            </div>

            <div class="col-lg-7">
                <!-- Title -->
                <div class="mb-4">
                    <h2 class="h3">Frequently asked question</h2>
                </div>
                <!-- End Title -->

                <!-- Accordion -->
                <div class="mb-5" id="basicsAccordion">
                    <div class="card card-collapse mb-3">
                        <div class="card-header card-collapse__header" id="basicsHeadingOne">
                            <h5 class="mb-0">
                                <button
                                    class="btn btn-link btn-block d-flex justify-content-between card-collapse__btn collapsed"
                                    data-toggle="collapse" data-target="#basicsCollapseOne" aria-expanded="false"
                                    aria-controls="basicsCollapseOne">
                                    How does Cash Gift Code work ?

                                    <span class="card-collapse__btn-arrow">
                                        <span class="fa fa-arrow-down card-collapse__btn-arrow-inner"></span>
                                    </span>
                                </button>
                            </h5>
                        </div>
                        <div id="basicsCollapseOne" class="collapse" aria-labelledby="basicsHeadingOne"
                            data-parent="#basicsAccordion">
                            <div class="card-body card-collapse__body">
                                CashGiftCode is a platform where you can buy a Gift code and send to your friends ,
                                family irrespective of their location in the world .
                            </div>
                        </div>
                    </div>

                    <div class="card card-collapse mb-3">
                        <div class="card-header card-collapse__header" id="basicsHeadingTwo">
                            <h5 class="mb-0">
                                <button
                                    class="btn btn-link btn-block d-flex justify-content-between card-collapse__btn collapsed"
                                    data-toggle="collapse" data-target="#basicsCollapseTwo" aria-expanded="false"
                                    aria-controls="basicsCollapseTwo">
                                    How can I buy on Cash Gift Code ?

                                    <span class="card-collapse__btn-arrow">
                                        <span class="fa fa-arrow-down card-collapse__btn-arrow-inner"></span>
                                    </span>
                                </button>
                            </h5>
                        </div>
                        <div id="basicsCollapseTwo" class="collapse" aria-labelledby="basicsHeadingTwo"
                            data-parent="#basicsAccordion">
                            <div class="card-body card-collapse__body">
                                You firstly Register an Account , Then Proceed to “Buy Gift Code” section , you select
                                the amount of Gift code you want to buy and add to cart . After , you checkout and you
                                pay with either your credit , debit card , paypal or cash deposit at your bank .
                            </div>
                        </div>
                    </div>

                    <div class="card card-collapse mb-3">
                        <div class="card-header card-collapse__header" id="basicsHeadingThree">
                            <h5 class="mb-0">
                                <button
                                    class="btn btn-link btn-block d-flex justify-content-between card-collapse__btn collapsed"
                                    data-toggle="collapse" data-target="#basicsCollapseThree" aria-expanded="false"
                                    aria-controls="basicsCollapseThree">
                                    How would the Receiver convert the gift Code to money ?

                                    <span class="card-collapse__btn-arrow">
                                        <span class="fa fa-arrow-down card-collapse__btn-arrow-inner"></span>
                                    </span>
                                </button>
                            </h5>
                        </div>
                        <div id="basicsCollapseThree" class="collapse" aria-labelledby="basicsHeadingThree"
                            data-parent="#basicsAccordion">
                            <div class="card-body card-collapse__body">
                                The Receiver will also need to create an account, then go to “Sell Gift Code” Tab at the
                                Member Area.
                                Enter the codes sent to you, the value of the code would be displayed and the
                                validity . Your profile should be linked to a bank account before trading your code for
                                money, then CashGiftCode will
                                automatically credit the bank account .
                            </div>
                        </div>
                    </div>

                    <div class="card card-collapse">
                        <div class="card-header card-collapse__header" id="basicsHeadingFour">
                            <h5 class="mb-0">
                                <button
                                    class="btn btn-link btn-block d-flex justify-content-between card-collapse__btn collapsed"
                                    data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false"
                                    aria-controls="basicsCollapseFour">
                                    If I have issues using this platform , what should I do ?

                                    <span class="card-collapse__btn-arrow">
                                        <span class="fa fa-arrow-down card-collapse__btn-arrow-inner"></span>
                                    </span>
                                </button>
                            </h5>
                        </div>
                        <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour"
                            data-parent="#basicsAccordion">
                            <div class="card-body card-collapse__body">
                                Send an email to our customer service at support@cashgiftcode.com and they will attend
                                to you immediately.
                            </div>
                        </div>
                    </div>


                    <div class="card card-collapse">
                        <div class="card-header card-collapse__header" id="basicsHeadingFive">
                            <h5 class="mb-0">
                                <button
                                    class="btn btn-link btn-block d-flex justify-content-between card-collapse__btn collapsed"
                                    data-toggle="collapse" data-target="#basicsCollapseFive" aria-expanded="false"
                                    aria-controls="basicsCollapseFive">
                                    What currency do you pay the sellers / Receivers of the codes that are bought ?

                                    <span class="card-collapse__btn-arrow">
                                        <span class="fa fa-arrow-down card-collapse__btn-arrow-inner"></span>
                                    </span>
                                </button>
                            </h5>
                        </div>
                        <div id="basicsCollapseFive" class="collapse" aria-labelledby="basicsHeadingFive"
                            data-parent="#basicsAccordion">
                            <div class="card-body card-collapse__body">
                                We pay them in local currency , for now we pay in Naira , but with time other local
                                African currency with be added. </div>
                        </div>
                    </div>

                    <div class="card card-collapse">
                        <div class="card-header card-collapse__header" id="basicsHeadingSix">
                            <h5 class="mb-0">
                                <button
                                    class="btn btn-link btn-block d-flex justify-content-between card-collapse__btn collapsed"
                                    data-toggle="collapse" data-target="#basicsCollapseSix" aria-expanded="false"
                                    aria-controls="basicsCollapseSix">
                                    If I Pay with cash deposit , How do I get the Code ?
                                    <span class="card-collapse__btn-arrow">
                                        <span class="fa fa-arrow-down card-collapse__btn-arrow-inner"></span>
                                    </span>
                                </button>
                            </h5>
                        </div>
                        <div id="basicsCollapseSix" class="collapse" aria-labelledby="basicsHeadingSix"
                            data-parent="#basicsAccordion">
                            <div class="card-body card-collapse__body">
                                The code will be sent to your email as soon as the payment is confirmed by our
                                administrative Department . If you use PayPal or Credit / Debit card , the codes would
                                be auto generated.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Accordion -->

                {{!-- <a href="../html/pages/help.html">See all FAQs</a> --}}
            </div>
        </div>
    </div>
    <!-- End FAQ Section -->
    <!-- CTA -->
    <div class="">
        <div class="bg-img-hero" style="background: #44475E;">
            <div class="container">
                <div class="row align-items-lg-center text-center text-lg-left space-2">
                    <div class="col-lg-7">
                        <h2 class="text-white">Get started with Cash GiftCode</h2>
                        <p class="lead text-white mb-0">Start sending and receiving money to people all around the
                            world.</p>
                    </div>

                    <div class="col-lg-5 text-lg-right">
                        <a class="btn btn-purple mb-2 mb-sm-0 mr-sm-2" href="/signup">Create
                            Free Account</a>
                        {{!-- <a class="btn btn-light mb-2 mb-sm-0" href="starter/index.html">Learn More</a> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End CTA -->
</main>
<!-- ========== END MAIN CONTENT ========== -->

<!-- ========== FOOTER ========== -->
<footer class="bg-dark">
    <div class="container py-3">
        <div class="row">
            <p class="small text-muted" style="margin: 0 !important;">All rights reserved. &copy; Cash GiftCode 2019.
            </p>
        </div>
    </div>
    {{!-- <div class="container space-2">
        <div class="row justify-content-md-between">
            <div class="col-6 col-md-3 col-lg-2 order-lg-3 mb-7 mb-lg-0">
                <h3 class="h6 text-white mb-3">About</h3>
            </div>

            <div class="col-6 col-md-3 col-lg-2 order-lg-4 mb-7 mb-lg-0">
                <h3 class="h6 text-white mb-3">Company</h3>
            </div>

            <div class="col-6 col-md-3 col-lg-2 order-lg-5 mb-7 mb-lg-0">
                <h3 class="h6 text-white mb-3">Shop</h3>
            </div>

            <div class="col-6 col-md-3 col-lg-2 order-lg-6 mb-7 mb-lg-0">
                <h3 class="h6 text-white mb-3">Social</h3>
            </div>

            <div class="col-lg-4 order-lg-1 d-flex align-items-start flex-column">
                <!-- Logo -->
                <a class="d-inline-block mb-5" href="index.html" aria-label="Space">
                      <img class="u-header__navbar-brand-default" style="width:60%"
                            src="assets_home/svg/logos/cashGC_white.png" alt="Logo">
                </a>
                <!-- End Logo -->

                <p class="small text-muted">All rights reserved. &copy; Cash GiftCode 2019.</p>
            </div>
        </div>
    </div> --}}
</footer>
<!-- ========== END FOOTER ========== -->

<!-- ========== SECONDARY CONTENTS ========== -->
<!-- Panel Sidebar Navigation -->
{{!-- <aside id="sidebarContent" class="u-sidebar u-unfold--css-animation u-unfold--hidden"
    aria-labelledby="sidebarNavToggler">
    <div class="u-sidebar__scroller">
        <div class="u-sidebar__container">
            <div class="u-sidebar--panel__footer-offset">
                <!-- Toggle Button -->
                <div class="d-flex align-items-center border-bottom py-4 px-5">
                    <h4 class="h5 mb-0">Morning, {{user.lastname}}</h4>

                    <button type="button" class="close u-sidebar__close ml-auto" aria-controls="sidebarContent"
                        aria-haspopup="true" aria-expanded="false" data-unfold-event="click"
                        data-unfold-hide-on-scroll="false" data-unfold-target="#sidebarContent"
                        data-unfold-type="css-animation" data-unfold-animation-in="fadeInRight"
                        data-unfold-animation-out="fadeOutRight" data-unfold-duration="500">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- End Toggle Button -->

                <!-- Content -->
                <div class="js-scrollbar u-sidebar__body">
                    <div class="u-sidebar__content py-5">
                        <!-- Title -->
                        <div class="py-2 px-5">
                            <h4 class="text-uppercase text-muted font-size-13 mb-0">Quick Action</h4>
                        </div>
                        <!-- End Title -->

                        <!-- List -->
                        <ul class="list-unstyled font-size-14 mb-5">
                            <li>
                                <a class="media align-items-center u-sidebar--panel__link py-2 px-5" href="/user/">
                                    <img class="max-width-4 mr-3" src="assets_home/svg/components/finance-dark-icon.svg"
                                        alt="Image Description">
                                    <div class="media-body">
                                        <span>Dashboard</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="media align-items-center u-sidebar--panel__link py-2 px-5" href="#">
                                    <img class="max-width-4 mr-3" src="assets_home/svg/components/touch-dark-icon.svg"
                                        alt="Image Description">
                                    <div class="media-body">
                                        <span>Notifications</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="media align-items-center u-sidebar--panel__link py-2 px-5" href="#">
                                    <img class="max-width-4 mr-3" src="assets_home/svg/components/team-dark-icon.svg"
                                        alt="Image Description">
                                    <div class="media-body">
                                        <span>Transaction</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="media align-items-center u-sidebar--panel__link py-2 px-5" href="#">
                                    <img class="max-width-4 mr-3" src="assets_home/svg/components/email-dark-icon.svg"
                                        alt="Image Description">
                                    <div class="media-body">
                                        <span>Mailbox</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="media align-items-center u-sidebar--panel__link py-2 px-5" href="#">
                                    <img class="max-width-4 mr-3"
                                        src="assets_home/svg/components/projects-dark-icon.svg" alt="Image Description">
                                    <div class="media-body">
                                        <span>Projects</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- End List -->


                    </div>
                </div>
                <!-- End Content -->
            </div>

            <!-- Footer -->
            <footer class="u-sidebar__footer u-sidebar__footer--panel py-4 px-5">
                <!-- List -->
                <ul class="list-inline font-size-14 mb-0">
                    <li class="list-inline-item">
                        <a class="u-sidebar--panel__link pr-2" href="pages/privacy.html">Privacy</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-sidebar--panel__link px-2" href="pages/terms.html">Terms</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-sidebar--panel__link px-2" href="/logout">
                            <i class=" fas fa-power-off"></i>&nbsp;Log Out
                        </a>
                    </li>
                </ul>
                <!-- End List -->
            </footer>
            <!-- End Footer -->
        </div>
    </div>
</aside> --}}
<!-- End Panel Sidebar Navigation -->

<!-- ========== END SECONDARY CONTENTS ========== -->

<!-- Go to Top -->
<a class="js-go-to u-go-to" href="javascript:;" data-position='{"bottom": 15, "right": 15 }' data-type="fixed"
    data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
    <span class="fa fa-arrow-up u-go-to__inner"></span>
</a>
<input type="hidden" value="{{csrfToken}}" id="_csrf">
<!-- End Go to Top -->

<script>
    $(document).ready(function () {

        var csrfToken = $("#_csrf").val();

        fetch("/user/cartitem/", {
            method: 'GET',
            headers: {
                "X-CSRF-TOKEN": csrfToken
            }
        })
            .then(res => res.json())
            .then(res => {
                prepareCart(res.data)
            })
            .catch(err => console.log(err))
    })

    var prepareCart = function (data) {

        var ctWrapper = $('#cartItemWrapper');
        var citemMarkUpBundle = '';
        var ctnum = $('#ctnum');
        var ckBtn = $('#checkoutBtn');

        let {
            items,
            totalQuantity,
            totalPrice
        } = data;

        ctnum.text(totalQuantity);

        if (items.length > 0) {
            ckBtn.show();
            items.forEach(item => {
                let { giftCodeCategory } = item;
                citemMarkUpBundle += `
                    <div class="d-flex mb-1">
                        <div class="u-shopping-cart__item-info-wrapper">
                                <span class="d-block h6 mb-0">${giftCodeCategory.title} GC</span>
                        </div>
                        <div class="u-shopping-cart__item-img-wrapper mr-3">
                            <span class="text-primary">+ ${item.quantity}</span>
                        </div>
                    </div>
                `
            })
        } else {
            ckBtn.hide()
            citemMarkUpBundle += `
                <span class="u-icon u-icon--primary u-icon--md rounded-circle mb-3">
                    <span class="fa fa-shopping-basket u-icon__inner"></span>
                    </span>
                <span class="d-block">Your Cart is Empty</span>
            `
        }
        //console.log(citemMarkUpBundle);
        ctWrapper.append(citemMarkUpBundle);
    }
</script>